
.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.hudBox {
  border: 1px solid #D0D0D0;
  font-size: 24px;
  padding: 15px;
  max-width: 300px;
  min-width: 146px;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
  margin: 0 auto;
  border:none;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  font-family: "Microsoft YaHei";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hudTitle {
  margin: 3px 15px 10px 15px;
}

.scroll-off {
  position:fixed;
  overflow-y:hidden;
}

.spinner {
  margin:10px;
  animation: rotator 1.0s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash 1.4s ease-in-out infinite,
    colors 1.0s ease-in-out infinite;
}
@keyframes colors {
  0% { stroke: #3399FF; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset:187;transform:rotate(0deg);}
  60% { stroke-dashoffset: 46.75; transform:rotate(180deg); }
  100% { stroke-dashoffset: 187; transform:rotate(360deg); }
}
